---
import { Icon } from "astro-icon/components";
import Hamburger from "./Hamburger.astro";
import logo from "@assets/logo.svg";
import { trimSlash } from "@scripts/utils";
import Search from "astro-pagefind/components/Search";

const base = import.meta.env.BASE_URL;

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  isFullWidth?: boolean;
  position?: string;
}

const {
  id = "header",
  links = [],
  isFullWidth = false,
  position = "center",
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    "z-40 flex-none bg-white mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out py-1",
  ]}
  {...id ? { id } : {}}
>
  <div
    class:list={[
      "relative text-default py-1 px-3 md:px-20 mx-auto w-full ",
      {
        "md:flex md:justify-between": position !== "center",
      },
      {
        "grid grid-cols-2 md:grid-cols-6 md:items-center":
          position === "center",
      },
      {
        "max-w-9xl": !isFullWidth,
      },
    ]}
  >
    <!-- Logo -->
    <div
      class:list={[{ "mr-auto": position === "right" }, "flex justify-between"]}
    >
      <a class="flex items-start" href=`${base}`>
        <span class="">
          <img id="logo" class="svg" src={logo.src} alt={"SuperOffice"} />
        </span>
      </a>
    </div>

    <!-- Nav -->
    <nav
      class="relative text-default md:col-span-4 lg:col-span-5 items-center md:mx-5 w-full md:w-auto md:justify-self-center"
      aria-label="Main"
    >
      <Hamburger />
      <div
        class="hidden md:flex overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto"
        id="primaryNav"
      >
        <ul
          class="py-8 md:py-0 text-right md:text-left flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium md:justify-center"
        >
          {
            links.map(({ text, href, links }, id) => (
              <li
                class:list={[
                  links?.length ? "dropdown" : "",
                  "px-4",
                  id != 5 ? "border-r border-black" : "",
                ]}
              >
                {links?.length ? (
                  <>
                    <button
                      type="button"
                      class="hover:text-link rounded px-4 py-1 hidden md:flex items-center "
                    >
                      {text}
                      <Icon
                        name="tabler:chevron-down"
                        class="w-3.5 h-3.5 ml-0.5 hidden md:inline"
                      />
                    </button>
                    <ul class=" text-right md:text-left  dropdown-menu md:backdrop-blur-md rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl">
                      {links.map(({ text: text2, href: href2 }) => (
                        <li>
                          <a
                            class:list={[
                              "rounded md:hover:bg-gray-100 hover:text-link py-2 px-5 block whitespace-no-wrap ",
                              { "aw-link-active": href2 === currentPath },
                            ]}
                            href={base + href2}
                          >
                            {text2}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </>
                ) : (
                  <a
                    class:list={[
                      "hover:text-link rounded px-4 py-1 md:flex md:items-center text-right md:text-left",
                      { "aw-link-active": href === currentPath },
                    ]}
                    href={base + href}
                  >
                    {text}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </nav>

    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
    <!-- <div
      class="relative hidden text-default lg:col-span-2 lg:flex items-center lg:mx-5 w-full lg:w-auto lg:justify-end"
      aria-label="Search"
    >
      <Search
        id="search1"
        className="pagefind-ui"
        uiOptions={{ showImages: false }}
      />
    </div> -->
    <!-- <div
      class:list={[
        { "ml-auto": position === "left" },
        "hidden md:self-center md:flex items-center md:mb-0 fixed w-full md:w-auto md:static justify-end left-0 bottom-0 p-3 md:p-0 md:justify-self-end",
      ]}
    >
      <div class="items-center flex justify-between w-full md:w-auto">
        <div class="flex"></div>
      </div>
    </div> -->
  </div>
</header>

<style>
  #header.scroll > div:first-child {
    @apply md:bg-white/90 md:backdrop-blur-md;
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
  }

  .dropdown:focus .dropdown-menu,
  .dropdown:focus-within .dropdown-menu,
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  #primaryNav {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  #primaryNav.open {
    max-height: 600px;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburgerButton = document.getElementById("hamburgerButton");
    const primaryNav = document.getElementById("primaryNav");

    hamburgerButton?.addEventListener("click", () => {
      primaryNav?.classList.toggle("hidden");
      primaryNav?.classList.toggle("open");
    });
  });
</script>
