---
import { Breadcrumbs } from "astro-breadcrumbs";
import Feedback from "./Feedback.astro";
import Edit from "./EditPage.astro";
import Share from "./Share.astro";
import LanguageSelect from "./LanguageSelect.tsx";
const currentLocale = Astro.currentLocale;
const liveUrl = Astro.url.pathname;

import "astro-breadcrumbs/breadcrumbs.css";
const ariaLabel = "Breadcrumb navigation and social links";

export interface Props {
  filePath: string;
  metadata: {
    title: string;
    description?: string;
    uid: string;
  };
  isLearnCategoryPage: boolean;
  collection: string;
}

const { filePath, metadata, isLearnCategoryPage, collection } = Astro.props;
const { title, description, uid } = metadata;
const isHelp = uid?.split("-")[0] == "help";
const isWebApi = collection == "webapi"
var filePathUrl = "";

if(isWebApi) {
  filePathUrl = liveUrl.replace("/docs-next/", "src/content/docs/").concat(".yml");
}
else{
  filePathUrl = filePath.replace("external-content/superoffice-docs/","");
}

---

<header
  aria-label={ariaLabel}
  class="text-default px-4 h-10 bg-gray-100 w-full flex max-w-9xl"
>
  <div class="container mx-2 grid lg:grid-cols-12 min-w-full">
    <div
      class="lg:col-span-8 py-2 flex items-center justify-self-start text-superOfficeGreen"
    >
      <Breadcrumbs
        customizeListElements={[{ index: 1, remove: true }]}
      >
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#808080"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="8 24 16 4"></polyline>
        </svg>
      </Breadcrumbs>
    </div>
    <div
      class="lg:col-span-4 hidden lg:flex items-center justify-self-end space-x-4 mr-12"
    >
      {
        isHelp && currentLocale && (
          <LanguageSelect
            client:only="react"
            currentLocale={currentLocale}
            url={liveUrl}
          />
        )
      }
      {
        !(isLearnCategoryPage) && (<Share description={description} title={title} />
      <Feedback docurl={filePathUrl} title={title} uid={uid} />
      <Edit docurl={filePathUrl} />)
      }
    </div>
  </div>
</header>
