---
import type { LandingContentCard } from "../types/SubCategoryPageTypes";
import IconSelection from "./IconSelection.tsx";

import "@styles/main.css";

const { item, subCategory } = Astro.props;

interface Props {
  item: LandingContentCard;
  subCategory: string | undefined;
}
---

<div>
  <div
    class={`bg-white p-4 duration-300 ease-in-out transition-shadow shadow-[0_4px_10px_rgba(0,0,0,0.15)] hover:shadow-[0_0px_8px_rgba(0,0,0,0.70)] min-h-full`}
  >
    <p class="font-semibold text-lg mb-4">{item.title}</p>
    <div class="grid grid-cols-1 gap-2 h-fit">
      {
        item.linkLists?.map((subitem) => {
          return (
            <div class="flex flex-row items-center  border-t pt-5 border-gray-300">
              <div class="w-6 mr-2">
                {subitem.itemType && (
                  <IconSelection
                    size={24}
                    color="#0c5d58"
                    iconType={subitem.itemType}
                  />
                )}
              </div>
              <p class=" uppercase">{subitem.typeDesc}</p>
              
            </div>
            <div class=" flex flex-col">
                {subitem.links.map((linkItem) => {
                return <a class="text-superOfficeGreen" href={linkItem.url.slice(-3) == ".md" ? `${subCategory}/${linkItem.url.slice(0, -3)}` : linkItem.url}>{linkItem.text}</a>;
              })}
              </div>
          );
        })
      }
    </div>
  </div>
</div>
