---
import Base from "./Base.astro";
import PageHeader from "@components/PageHeader.astro";
import OnThisArticle from "@components/OnThisArticle.astro";
import TableOfContentList from "@components/TableOfContentList.tsx";

const { frontmatter, collection, slug, headings, TableOfContentData } =
  Astro.props;
const liveUrl = Astro.url.pathname;

let filePath;
if (collection && slug) {
  filePath = `src/content/${collection}/${slug}`;
} else {
  filePath = `src/pages${liveUrl}.md`;
}
---

<Base metadata={frontmatter}>
  <div class="sticky top-0">
    <PageHeader liveUrl={liveUrl} filePath={filePath} metadata={frontmatter} />
  </div>
  <article class="w-full pt-1 article">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-0">
      <nav
        class="bg-lightTealGray md:col-span-3 pt-6 md:pt-12 w-full max-w-md mx-auto rounded-lg flex justify-center "
      >
        <TableOfContentList
          client:only="react"
          inputItems={TableOfContentData?.items}
          slug="release-notes"
          isMainTable={true}
        />
      </nav>

      <!-- Markdown file contents render withitn the slot -->
      <main
        class="md:col-span-7 p-8 prose max-w-none prose-headings:font-normal"
      >
        <slot />
      </main>

      <aside
        class="md:col-span-2 pt-12 px-6 hidden lg:block h-screen sticky"
      >
        <OnThisArticle headings={headings} />
      </aside>
    </div>
  </article>
</Base>
