---
import Layout from "@layouts/Base.astro";
import { getEntry } from "astro:content";
import { formatDate } from "@scripts/utils.js";

// Fetch all release notes
const releaseNotes = "release-notes";

// Fetch version and date from mobile/index.md and the highest numeric folder
const mobileEntry = await getEntry(releaseNotes, "mobile/10219-update");

const mainEntry = await getEntry(releaseNotes, "103/index");

const metadata = {
  title: "What's new in SuperOffice",
};
---

<Layout metadata={metadata}>
  <main>
    <article class="bg-blue-300 max-w-4xl mx-auto p-6 rounded-lg shadow">
      <p>Here you will find all the small and big changes that has been released for
      SuperOffice in the different versions. We aim to give you an understanding on why we have created the feature and
      function and how to use it. Hope you will find this inspiring and try out our new functionality.</p>
      <section class="mb-6 px-4">
        <h2 class="text-2xl font-semibold">SuperOffice CRM Versions</h2>
        {
          mobileEntry ? (
            <p>
              The latest release for mobile CRM is version {mobileEntry.data.version_mobile?.toString()} released on{" "}
              {formatDate(mobileEntry.data.date)}.
            </p>
          ) : (
            <p>No mobile CRM release data available.</p>
          )
        }
      </section>
      <section class="mb-6 px-4">
        <h2 class="text-2xl font-semibold">Main Product Versions</h2>
        {
          mainEntry ? (
            <p>
              The latest release for the main product is version {mainEntry.data.version?.toString()} released on{" "}
              {formatDate(mainEntry.data.date)}.
            </p>
          ) : (
            <p>No main product release data available.</p>
          )
        }
      </section>
    </article>
  </main>
</Layout>
